body {
    font-family: Arial, sans-serif;
    background-color: aqua;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5 {
    font-size: 24px;
    color: #333;
    margin: 20px 0;
    text-align: center;
    background-color: black;
}
    
    


#ramen-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

#ramen-menu img{
       width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s;
}





#ramen-detail {
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
    text-align: center;
}

.detail-image {
    width: 60%;
    border-radius: 10px;
}

.name, .restaurant {
    color: #333;
}

.rating, .comment {
    color: #666;
}

form#new-ramen {
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

form#new-ramen h2 {
    color: black;
}

form#new-ramen input, form#new-ramen textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form#new-ramen button {
    background-color: gold;
    color: bisque;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form#new-ramen button:hover {
    background-color: black;
}